.container {
  background-color: #fafafa;
  margin: 0 10px;
  position: relative;
}

.overlay {
  background-color: #0002;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.name {
  background-color: #000a;
  bottom: 0;
  color: #fff;
  cursor: default;
  left: 0;
  padding: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  word-break: break-all;
}

.remove {
  background-color: #000a;
  color: #fff;
  cursor: pointer;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;

  transition: background-color 400ms;
}

.remove:hover {
  background-color: #000;
}
