.button {
  background-color: #e4e4e4;
  border-width: 0;
  cursor: pointer;
  outline: none;
  padding: 10px 30px;
}

.button:hover {
  background-color: #dbdbdb;
}

.button--full-width {
  width: 100%;
}
