.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages {
  flex: 1;
  height: calc(100% - 100px);
  overflow-y: scroll;
  padding-left: 15px;
}

.input-container {
  background-color: #ddd;
  height: 60px;
}

.empty {
  padding: 15px;
}
