.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages-scroll {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.messages {
  padding-left: 15px;
}

.empty {
  padding: 15px;
}

.load-more-button {
  align-items: center;
  display: flex;
  justify-content: center;
}
