.container {
  cursor: pointer;
  flex: 30%;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.image {
  background-color: #fff;
  border-radius: 10px;
  height: 250px;
  overflow: hidden;
  position: relative;
  transition: opacity 300ms;
  width: 100%;
  z-index: 1;
}

.image-loader {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.container:hover .image {
  opacity: 0.7;
}
